

.sidebar {
  position: fixed;           
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
  background-color: #0c0c42;
  color: white;

}

.sidebar a {
    color: rgb(255, 255, 255);
}

.sidebar li  {
margin-bottom: 10px;

}

.main-content {
    margin-left: 250px;
   
}

.main-content img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;

}