* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Bodoni Moba' ;
    src: url('police/Bodoni_Moda/BodoniModa-VariableFont_opsz,wght.ttf') format('truetype');
}

body {
    font-family: 'Bodoni Moba', serif;
    background: linear-gradient(rgba(229, 229, 229, 1) 0%,
                                rgba(131, 124, 119, 1) 90%,
                                rgba(181, 166, 166, 1) 100%
                                );
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;

}

.navbar {
    background-color: rgba(213, 190, 175, 1) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

}

.navbar .logo {
    font-size: 20px;
    justify-content: center;
    margin-left: 70px
    ;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    
    
}

.navbar ul li {
    margin: 10px;
    text-decoration: none;

}

.navbar .menu {
    margin-left: 20px;
}

.navbar img {
    height: 20px;
    width: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    flex: 1;
    text-align: center;
    height: 200px;
    width: auto;

}

p {
    grid-column: 1/ span 3;
    padding: 10px;
}


.bob {
    grid-column: 2;
    justify-self: center;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/ span 3;
    grid-row: 3;
    justify-self: center;
    gap: 30px;
   
}
.container img {
    padding: 10px;
}

footer {

    background-color: rgba(213, 190, 175, 1) ;
    height: 100%;
    width: 100%;
    
}